body {
  margin:0 auto;
}

.center-objs {
  margin:0 auto;
}
  
#map {
  width: 645px;
  height:400px;

}
  /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
  .marker-position {
    padding: 10px;
    font-weight: 700;
  }

  .labelEPCI  {
  position: absolute;
  padding: 0px; 
  background: none; 
  border: none;
  color: white; 
  font-size: smaller;
  box-shadow: none;
  }

  .legend {
    color: #555;
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
  }
  .legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
  }
  .legend .min {
    float: left;
    padding-bottom: 5px;
  }
  .legend .max {
    float: right;
  }
  
  .sublegend-color {
    width: 20px;
    border: 1px solid #666666;
    display: inline-block;
    opacity: 0.5;
}

.sublegend-item {
    padding-top: 0.2em;
}

.sublegend {
    list-style: none;
    padding-inline-start: 24px;
    margin-top: 0px;
}
